@font-face {
  font-family: 'TweetyLite-Regular';
  src: url('/assets/TweetyLite-Regular.eot?#iefix') format('embedded-opentype'),
       url('/assets/TweetyLite-Regular.woff') format('woff'),
       url('/assets/TweetyLite-Regular.ttf')  format('truetype'),
       url('/assets/TweetyLite-Regular.svg#TweetyLite-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}