@font-face {
  font-family: 'LaCithare';
  src: url('/assets/LaCithare.eot?#iefix') format('embedded-opentype'),
       url('/assets/LaCithare.woff') format('woff'),
       url('/assets/LaCithare.ttf')  format('truetype'),
       url('/assets/LaCithare.svg#LaCithare') format('svg'); 
  font-weight: normal;
  font-style: normal;
}